* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

strong, h3 {
    font-weight: 600;
}

h1 {
    letter-spacing: 0.1rem;
    font-weight: 300;
    line-height: 3rem;
    font-size: 2.2rem;
}

h2 {
    letter-spacing: 0.05rem;
    font-weight: 300;
    line-height: 3rem;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.15rem;
    margin: 0;
}

p, h1, h2 {
    margin: 0 0 2.5rem 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02rem;
    font-size: 1.15rem;
    line-height: 2rem;
    height: auto;
}

#container {
    position: relative;
    background: white;
    overflow: auto;
}

#intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: 33% 50%;
    background-size: cover;
    z-index: 20;
}

#intro .intro-text {
    position: absolute;
    left: 10%;
    bottom: 180px;
    max-width: 80%;
    color: white;
    font-size: 3rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.25rem;
}

#intro .intro-text h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#intro .intro-text .intro-logo {
    position: absolute;
    right: 0;
    bottom: calc(100% - 1.8rem);
    width: 40%
}

#menu-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 32px 28px;
    width: 80px;
    cursor: pointer;
    z-index: 10;
}

#menu-button div {
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    background: black;

    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}

header #logo {
    position: relative;
    width: 100%;
    height: 190px;
    background: black;
}

header #logo .header-title {
    position: absolute;
    left: 0;
    top: 104px;
    color: rgb(168, 198, 212); /* light blue */
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 1.35rem;
    letter-spacing: .16rem;
    font-weight: 300;
}

header #logo .header-title .small {
    font-size: 1.1rem;
}

.full-size {
    padding: 0;
    margin: 0;
}

#sidebar .indented {
    padding: 0 2.5rem;
}

#main-content {
    padding-left: 280px;

    -webkit-transition: padding-left .5s ease;
    -moz-transition: padding-left .5s ease;
    -o-transition: padding-left .5s ease;
    transition: padding-left .5s ease;
}

.text {
    line-height: 2.2rem;
}

.text p:last-child {
    margin-bottom: 0;
}

.figure {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.view a:link, .view a:visited {
    border-bottom: solid 1px #d9d9d4;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.view a:hover, .view a:active {
    border-bottom: solid 1px black;
}















article.view {
    position: relative;
    padding-top: 80px;
}

.view section {
    padding: 0 60px 120px;
}

.view section.text-mid {
    width: 75%;
    margin: 0 auto;
}

.left-small {
    width: 38%;
    float: left;
}

.right-big {
    width: 62%;
    float: right;
    padding-left: 80px;
}

.photo-and-text .right-big {
    padding-top: 60px;
}

.left-small {
    margin-bottom: 0;
}

.text.narrow {
    width: 260px;
    margin: 50px auto 0;
}










#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: rgb(168, 198, 212); /* light blue */
    overflow: hidden;
    z-index: 5;

    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
}

nav {

}

.nav-main li {
    border-top: 1px solid #353739;
    position: relative;
    height: 80px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-main li a {
    height: 100%;
    text-decoration: none;
    color: rgb(168, 198, 212); /* light blue */
    background: black;

    -webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s
}

.nav-main li a:hover, .nav-main li a.active {
    background: #222;
}

.nav-main ul li {
    border-top: 1px solid rgb(148, 176, 188); /* midtone blue */
}

.nav-main li ul li a {
    background: rgb(168, 198, 212); /* light blue */
    color: #666;
}

.nav-main li ul {
    height: calc(100vh - 340px);
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-main li ul li a:hover, .nav-main li ul li a.active {
    background: rgb(148, 176, 188); /* midtone blue */
}

.nav-main .small {
    font-size: .67rem;
    text-transform: none;
}

.nav-main li ul li:last-child {
    border-bottom: 1px solid rgb(148, 176, 188); /* midtone blue */
}















.gallery, .big-photo, .left-small .figure {
    height: 90vh;
}
.gallery .photo-container {
    position: relative;
    height: 100%;
}
.gallery .photo-container.left {
    width: calc(60% - 30px);
    float: left;
}
.gallery .photo-container.right {
    width: 40%;
    float: right;
}
.gallery .photo-container.right > .figure {
    background-size: contain;
}
.gallery .figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: 1;
}
.gallery .figure.active {
    z-index: 3;
}
















#page-title {
    width: calc(100% - 400px);
    margin-left: 340px;
    position: fixed;
    top: 23px;
    left: 0;
    text-align: center;
    overflow: hidden;
    z-index: 2;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#page-title > span {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    color: rgba(148, 176, 188, .75); /* midtone blue */
    text-transform: uppercase;
}
#page-title > span:before, #page-title > span:after {
    content: '';
    background: rgba(148, 176, 188, .75); /* midtone blue */
    height: 1px;
    position: absolute;
    width: 800%;
    top: 50%;
}
#page-title > span:before {
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
#page-title > span:after {
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
#page-title > span .small {
    font-size: .67rem;
    text-transform: none;
}



















@media (max-width: 1450px) {
    .gallery, .big-photo, .left-small .figure {
        height: 60vh;
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 90%;
    }

    #sidebar {
        width: 240px;
    }

    #sidebar .indented {
        padding: 0 1.8rem;
    }

    #main-content {
        position: relative;
        padding-left: 240px;
    }

    .left-small, .right-big {
        width: 100%;
        float: none;
        padding: 0;
    }

    #intro .intro-text, #intro .intro-text h1 {
        font-size: 2rem;
        letter-spacing: 0.08rem;
        /*line-height: 2.2rem;*/
    }
    .view section {
        padding: 0 30px 120px;

    }
    .view section.text-mid {
        width: 90%;
    }
    #page-title {
        width: calc(100% - 100px);
        margin-left: 75px;
    }
    .gallery .photo-container {
        padding: 0 5px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 85%;
    }

    #intro .intro-text, #intro .intro-text h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
    .gallery, .big-photo {

    }
}















.space-after {
    display: inline-block;
    width: 15%;
}

.view section:after {
    display: block;
    line-height: 0;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    content: " ";
}

.relative {
    position: relative;
}

.vertical-center {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.vertical-el {
    display: table-cell;
    vertical-align: middle;
}

.link-area {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}